body {
  position: relative;
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    .input-container {
      height: 80px;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      #search-button {
        width: 80px;
        height: 40px;
        border: 2px solid black;
        border-radius: 5px;
      }
      #search-input {
        padding-left: 20px;
        width: 100%;
        height: 40px;
        border: 2px solid black;
        border-radius: 5px;
        box-sizing: border-box;
      }
    }
  }
  #heading-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20%;
  }
  #mainContainer {
    display: flex;
    justify-content: flex-start;
    #container {
      order: 1;
      width: 49vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px;
      overflow: scroll;
      background-color: whitesmoke;
      #artist-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .image-container {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
    #container-two {
      order: 2;
      width: 49vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px;
      overflow: scroll;
      background-color: whitesmoke;
      .song-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .song-image-container {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .modal-background-class {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s;

    .modal-class {
      background-color: whitesmoke;
      width: 30%;
      height: 20%;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
    #modal-close {
      cursor: pointer;
    }
  }
  .modal-background-class-visible {
    visibility: visible;
    opacity: 1;
  }
}
